---
import Layout from '../layouts/layout.astro';
import Footer from '../components/footer.astro';

const pageTitle = "About page";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const skillColor = "navy";

export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style define:vars={{skillColor}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }

      .skill {
   color: var(--skillColor);
   font-weight: bold;
 }
    </style>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About Me</h1>
    <h1>{pageTitle}</h1>
    <h2 class="text-xl underline">My name is {identity.firstName}</h2>

    <p>I live in {identity.country} and I work as a {identity.occupation}</p>
    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

    <p>{identity.hobbies.length >= 2 && 
      <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    } </p>

<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>
<Footer />
  </body>
</html>