---
import { type Post } from "@/types/post";
import DashboardLayout from "@/layouts/dashboard-layout.astro";
import ActionMenu from "@/components/action-menu.astro";
import Layout from "@/layouts/layout.astro";
import type { User } from "../../types/user";

const { id } = Astro.params;

const cookie = Astro.cookies.get("auth_token")
const BASE_URL = import.meta.env.PUBLIC_API

const data: Post = await fetch(`${BASE_URL}/posts/${id}`)
  .then(async (response) => await response.json())
  .then((data) => data.data)
  .catch((error) => {
    console.error(error)
    return {}
  })

const user: User = await fetch(`${BASE_URL}/users/current`, {
    method: "GET",
    headers: {
      'Cookie': `auth_token=${cookie?.value}`,
    },
  })
  .then(async (response) => await response.json())
  .then((data) => data.data)
  .catch((error) => {
    console.error(error)
    return {}
  })

const PageLayout = cookie ? DashboardLayout : Layout
 
---

<PageLayout title={data.post.title}>
  <div class={cookie ? "" : "mx-36 mb-20"}>
    <div class="my-4 w-full h-[448px] overflow-hidden">
      <img src={data.post.image} alt={data.post.title} class="w-full h-full rounded-md" />
    </div>
    <div class="flex justify-between items-center">
      <div class="flex gap-4 items-center mb-4">
        <img src="https://avatars.githubusercontent.com/u/9?s=400&u=94c6b55ab061ac71d15afbceb0542582be7dec35&v=4" alt="My GH Avatar" class="w-16 h-16 rounded-full">
        <div>
          <p>{data.user?.username}</p>
          <span class="text-slate-500 text-sm">
            {Intl.DateTimeFormat("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            }).format(new Date(data.post.created_at))}
          </span>
        </div>
      </div>
    {!cookie || user.id !== data.user?.id ? "" : <ActionMenu />}
    </div>
    <div class="my-8">
      <h2 class="text-5xl font-bold">{data.post.title}</h2>
    </div>
    <div data-body={data.post.body} id="post-body-placeholder"></div>
    <div id="viewer"></div>
  </div>
</PageLayout>
<script>
  // @ts-ignore
  import Editor from '@toast-ui/editor';

  const postBodyPlaceholder = document.getElementById('post-body-placeholder');

  new Editor.factory({
    el: document.querySelector('#viewer'),
    viewer: true,
    initialValue: postBodyPlaceholder?.getAttribute('data-body'),
  });

  if (document.querySelector("#viewer .toastui-editor-contents")) {
    postBodyPlaceholder!.remove();
  }
</script>