---
import { type Post } from "@/types/post";
import DashboardLayout from "@/layouts/dashboard-layout.astro";

const { id } = Astro.params;

const cookie = Astro.cookies.get("auth_token")

const post: Post = await fetch(`http://localhost:5000/posts/${id}`, {
    method: "GET",
    headers: {
      'Cookie': `auth_token=${cookie?.value}`,
    },
  })
  .then(async (response) => await response.json())
  .then((data) => data.data)
  .catch((error) => {
    console.error(error)
    return {}
  })
 
---

<DashboardLayout title={post.title}>
  <div class="my-4 w-full h-[448px] overflow-hidden">
    <img src={post.image} alt={post.title} class="w-full h-full rounded-md" />
  </div>
  <div class="flex gap-4 items-center mb-4">
    <img src="https://avatars.githubusercontent.com/u/79809121?s=400&u=94c6b55ab061ac71d15afbceb0542582be7dec35&v=4" alt="My GH Avatar" class="w-16 h-16 rounded-full">
    <div>
      <p>takanome-dev</p>
      <span class="text-slate-500 text-sm">
        {Intl.DateTimeFormat("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        }).format(new Date(post.created_at))}
      </span>
    </div>
  </div>
  <div class="my-8">
    <h2 class="text-5xl font-bold">{post.title}</h2>
  </div>
  <astro-view data-body={post.body}>
    <div id="viewer"></div>
  </astro-view>
</DashboardLayout>
<script>
  import Editor from '@toast-ui/editor';

  // see https://docs.astro.build/en/guides/client-side-scripts/#pass-frontmatter-variables-to-scripts
  class AstroView extends HTMLElement {
    constructor() {
      super();

      // Read the body from the data attribute.
      const body = this.dataset.body;
      const viewer = this.querySelector('#viewer');
      new Editor.factory({
        el: viewer,
        viewer: true,
        initialValue: body,
      });
    }
  }

  customElements.define('astro-view', AstroView);
</script>